*{
    margin: 0;
    padding: 0;
}
/* 
------------header style start 
---------------------------------------*/
#header-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(22, 21, 21);
    color: #fff;
    height: 11vh;
    align-items: center;
}
#header-logo img{
    max-width: 150px;
}
#list-item{
    display: flex;
}
#list-item li{
    margin-right: 40px;
    list-style: none;
}
#list-item li a{
    color: #fff;
    text-decoration:none;
}
/* header style end */
/* ---------------hero style start
-------------------------------------------- */
#hero-container{
    background-image: url("../images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    color: #fff;
    height: 100vh;
    margin: 0 auto;
}
#hero-content{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 80vw;
    margin:0 auto;
    height: 100vh;
}
#hero-text h1,p,button{
    margin-bottom: 20px;
}
#hero-text h1{
    font-size: 60px;
    font-weight: 800;
}
#hero-text p{
    font-size: 20px;
}
#hero-text button{
    padding: 15px 30px;
    background-image: linear-gradient(to right,#1d1a1a,#000);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#hero-text button:hover{
    background-image: linear-gradient(to left,#1d1a1a,#000);
}
#hero-img{
    width: 40vw;
    display: flex;
    justify-content: end;
}
#hero-img img{
    width: 300px;
}
/* hero style end */
